# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

/package-lock.json
/node_modules/

.idea/

searx/version_frozen.py
.dir-locals.el

.python-version
