certifi==2021.5.30
babel==2.9.1
flask-babel==2.0.0
flask==2.0.1
jinja2==3.0.1
lxml==4.6.3
pygments==2.9.0
python-dateutil==2.8.2
pyyaml==5.4.1
httpx[http2]==0.17.1
Brotli==1.0.9
uvloop==0.16.0
httpx-socks[asyncio]==0.3.1
langdetect==1.0.9
setproctitle==1.2.2
starlette==0.16.0
starlette-i18n==1.0.0
starlette-context==0.3.3
uvicorn[standard]==0.14.0
gunicorn==20.1.0
python-multipart==0.0.5
