certifi==2025.11.12
babel==2.17.0
flask-babel==4.0.0
flask==3.1.2
jinja2==3.1.6
lxml==6.0.2
pygments==2.19.2
python-dateutil==2.9.0.post0
pyyaml==6.0.3
httpx[http2]==0.28.1
httpx-socks[asyncio]==0.10.0
valkey==6.1.1
markdown-it-py==3.0.0
fasttext-predict==0.9.2.4
tomli==2.3.0; python_version < '3.11'
msgspec==0.19.0
typer-slim==0.20.0
isodate==0.7.2
whitenoise==6.11.0
typing-extensions==4.15.0
httpx_curl_cffi==0.1.4
