mock==4.0.3
nose2[coverage_plugin]==0.12.0
cov-core==1.15.0
black==22.8.0
pylint==2.15.3
splinter==0.18.1
selenium==4.4.3
twine==4.0.1
Pallets-Sphinx-Themes==2.0.2
Sphinx==5.1.1
sphinx-issues==3.0.1
sphinx-jinja==2.0.2
sphinx-tabs==3.4.1
sphinxcontrib-programoutput==0.17
sphinx-autobuild==2021.3.14
sphinx-notfound-page==0.8.3
myst-parser==0.18.1
linuxdoc==20211220
aiounittest==1.4.2
yamllint==1.28.0
wlc==1.13
coloredlogs==15.0.1
