<fieldset>{{- '' -}}
  <legend id="pref_center_alignment">{{ _('Center Alignment') }}</legend>{{- '' -}}
  <p class="value">{{- '' -}}
    <input type="checkbox" {{- ' ' -}}
           name="center_alignment" {{- ' ' -}}
           aria-labelledby="pref_center_alignment" {{- ' ' -}}
           class="checkbox-onoff" {{- ' ' -}}
           {%- if preferences.get_value('center_alignment') -%}
             checked
           {%- endif -%}{{- ' ' -}}
           />{{- '' -}}
  </p>{{- '' -}}
  <div class="description">
    {{- _('Displays results in the center of the page (Oscar layout).') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
