<fieldset>{{- '' -}}
  <legend id="pref_method">{{- _('HTTP Method') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name='method' aria-labelledby="pref_method">{{- '' -}}
      <option value="POST"
              {%- if method == 'POST' %} selected="selected"{%- endif -%}>POST{{- '' -}}
      </option>{{- '' -}}
      <option value="GET"
              {%- if method == 'GET' %} selected="selected"{%- endif -%}>GET{{- '' -}}
      </option>{{- '' -}}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _('Change how forms are submitted') }} <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods" rel="external">🔗</a>
  </div>{{- '' -}}
</fieldset>{{- '' -}}
