<fieldset>{{- '' -}}
  <legend id="pref_safesearch">{{- _('SafeSearch') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name='safesearch' aria-labelledby="pref_safesearch">{{- '' -}}
      <option value="2"
              {%- if safesearch == '2' %} selected="selected" {%- endif -%}>
              {{- _('Strict') -}}
      </option>{{- '' -}}
      <option value="1"
              {%- if safesearch == '1' %} selected="selected" {%- endif -%}>
              {{- _('Moderate') -}}
      </option>{{- '' -}}
      <option value="0"
              {%- if safesearch == '0' %} selected="selected" {%- endif -%}>
              {{- _('None') -}}
      </option>{{- '' -}}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _('Filter content') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
