[Unit]

Description=SearXNG valkey service
After=syslog.target
After=network.target
Documentation=https://valkey.io/documentation

[Service]

Type=simple
User=${VALKEY_USER}
Group=${VALKEY_USER}
WorkingDirectory=${VALKEY_HOME}
Restart=always
TimeoutStopSec=0

Environment=USER=${VALKEY_USER} HOME=${VALKEY_HOME}
ExecStart=${VALKEY_HOME_BIN}/valkey-server ${VALKEY_CONF}
ExecPaths=${VALKEY_HOME_BIN}

LimitNOFILE=65535
NoNewPrivileges=true
PrivateDevices=yes

# ProtectSystem=full
ProtectHome=yes
ReadOnlyDirectories=/
ReadWritePaths=-${VALKEY_HOME}/run

UMask=007
PrivateTmp=yes

MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true

[Install]

WantedBy=multi-user.target
