/*
 * SearXNG, A privacy-respecting, hackable metasearch engine
 *
 * To change the colors of the site, simple edit this variables
 */

html {
  /// Basic Colors
  --color-base: #3498db;
  --color-base-dark: #084999;
  --color-base-light: #ecf0f1;
  --color-highlight: #094089;
  --color-black: #000;
  --color-base-border: #d7d7d7;
  --color-base-shadow: #ccc;

  /// Modal Colors
  --color-error: #db3434;
  --color-error-background: lighten(#db3434, 40%);
  --color-warning: #dbba34;
  --color-warning-background: lighten(#dbba34, 40%);
  --color-success: #42db34;
  --color-success-background: lighten(#42db34, 40%);

  /// General Colors
  --color-font: #444;
  --color-font-light: #888;
  --color-url-font: #29314d;
  --color-url-visited-font: #684898;

  /// Header
  --color-header-background: #f7f7f7;

  /// Footer
  --color-footer-background: #f7f7f7;

  /// Search-Input
  --color-search-border: var(--color-base);
  --color-search-background: #fff;
  --color-search-font: #222;
  --color-search-help: white;

  /// Autocompleter
  --color-autocompleter-background: white;

  /// Categories
  --color-categories-item-selected: var(--color-base);
  --color-categories-item-selected-font: #fff;
  --color-categories-item-border-selected: var(--color-base-dark);
  --color-categories-item-border-unselected: #e8e7e6;

  /// Results
  --color-download-button-background: var(--color-base);
  --color-download-button-font: #fff;
  --color-result-torrent-border: lightgray;
  --color-result-top-border: #e8e7e6;
  --color-result-vim-selected: #f7f7f7;

  // Link to result
  --color-result-link-font: var(--color-base-dark);
  --color-result-link-visited-font: var(--color-url-visited-font);

  // Url to result
  --color-result-url-font: #25a55b;

  // Publish Date
  --color-result-publishdate-font: var(--color-font-light);

  // Images
  --color-result-image-span-background-hover: rgba(0, 0, 0, 0.6);
  --color-result-image-span-font: #fff;

  // Search-URL
  --color-result-search-url-border: #888;
  --color-result-search-url-font: #444;

  /// Settings
  --color-settings-tr-hover: #ececec;
  --color-settings-engine-description-font: darken(#dcdcdc, 30%);

  // Labels
  --color-settings-return-background: var(--color-base);
  --color-settings-return-font: #fff;

  /// Other
  --color-engines-font: var(--color-font-light);

  /// From Toolkit
  --color-toolkit-badge-font: #fff;
  --color-toolkit-badge-background: #777;
  --color-toolkit-kbd-font: #fff;
  --color-toolkit-kbd-background: #000;
  --color-toolkit-dialog-border: #000;
  --color-toolkit-dialog-background: #fff;
  --color-toolkit-tabs-label-border: #fff;
  --color-toolkit-tabs-section-border: #000;
  --color-toolkit-select-border: #d7d7d7;
  --color-toolkit-checkbox-onoff-background: #dcdcdc;
  --color-toolkit-checkbox-onoff-label-shadow: rgba(0, 0, 0, 0.3);
  --color-toolkit-checkbox-onoff-label-background: #3498db;
  --color-toolkit-checkbox-onoff-checked-background: #dcdcdc;
  --color-toolkit-checkbox-label-background: #fff;
  --color-toolkit-checkbox-label-shadow1: #fff;
  --color-toolkit-checkbox-label-shadow2: rgba(0, 0, 0, 0.5);
  --color-toolkit-checkbox-label-border: #333;
  --color-toolkit-checkbox-input-border: #3498db;
  --color-toolkit-loader-border: rgba(0, 0, 0, 0.2);
  --color-toolkit-loader-borderleft: rgba(255, 255, 255, 0);
  --color-toolkit-engine-tooltip-border: #ddd;
  --color-toolkit-engine-tooltip-shadow: rgba(0, 0, 0, 0.1);
  --color-toolkit-engine-tooltip-background: #fff;
}

/// General Size
@results-width: 45rem;
@results-offset: 10rem;
@results-tablet-offset: 0.5rem;
@results-gap: 5rem;
@search-width: 40rem;

/// From style.less
@stacked-bar-chart: rgb(0, 0, 0);

/// Load fonts from this directory.
@icon-font-path:          "../../../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";
