// SPDX-License-Identifier: AGPL-3.0-or-later

#main_index {
  margin-top: 26vh;
}

.index {
  text-align: center;

  .title {
    margin: 4rem auto;
  }

  h1 {
    font-size: 6em;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 1;
    margin: 0;
  }

  #search,
  #search_header {
    margin: 0 auto;
    background: inherit;
    border: inherit;
    padding: 0;
    display: block;
  }

  .search_filters {
    display: block;
    margin: 1em 0;
  }

  .category label {
    padding: 6px 10px;
    border-bottom: initial !important;
  }
}

@media screen and (max-width: @tablet) {
  div.title {
    h1 {
      font-size: 4em;
    }
  }

  #main_index {
    margin-top: 6em;
  }
}
