#answers .weather {
  img.thumbnail {
    padding: 0;
    width: 5rem;
  }

  table {
    background-color: var(--color-result-keyvalue-table);
  }

  tr.odd {
    background-color: var(--color-result-keyvalue-odd);
    padding: 0;
  }

  tr.even {
    background-color: var(--color-result-keyvalue-even);
    padding: 0;
  }
}
