{% from 'simple/icons.html' import icon_big %}
<div id="suggestions">
    <h3>{{ _('Suggestions') }}</h3>
    <div class="wrapper">
      {%- for suggestion in suggestions -%}
        <form method="{{ method or 'POST' }}" action="{{ url_for('search') }}">
          <input type="hidden" name="q" value="{{ suggestion.url }}">
          {%- for category in selected_categories -%}
            <input type="hidden" name="category_{{ category }}" value="1">
          {%- endfor -%}
          <input type="hidden" name="language" value="{{ current_language }}">
          <input type="hidden" name="time_range" value="{{ time_range }}">
          <input type="hidden" name="safesearch" value="{{ safesearch }}">
          <input type="hidden" name="theme" value="{{ theme }}">
          {%- if timeout_limit -%}
            <input type="hidden" name="timeout_limit" value="{{ timeout_limit|e }}" >
          {%- endif -%}
          <button type="submit" role="link">
            <span>{{ suggestion.title }}</span>
            {{ icon_big('search-outline') }}
          </button>
        </form>
      {%- endfor -%}
    </div>
</div>
