<p class="text-muted">
  {{- _('This is the list of cookies and their values SearXNG is storing on your computer.') }}
  <br />{{- _('With that list, you can assess SearXNG transparency.') -}}
  <br />{{- '' -}}
</p>
{% if cookies %}
  <table class="cookies">
    <tr>{{- '' -}}
      <th>{{ _('Cookie name') }}</th>{{- '' -}}
      <th>{{ _('Value') }}</th>{{- '' -}}
    </tr>
    {%- for cookie in cookies -%}
      <tr>{{- '' -}}
        <td>{{ cookie }}</td>{{- '' -}}
        <td>{{ cookies[cookie] }}</td>{{- '' -}}
      </tr>
    {%- endfor -%}
  </table>
{%- else -%}
  {% include 'simple/messages/no_cookies.html' %}
{% endif %}