<fieldset>{{- '' -}}
  <legend id="pref_hotkeys">{{- _('Hotkeys') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name="hotkeys" aria-labelledby="pref_hotkeys">{{- '' -}}
      <option value="default"
              {%- if hotkeys == 'default' %} selected="selected"
              {%- endif -%}>
              SearXNG{{- '' -}}
      </option>{{- '' -}}
      <option value="vim"
              {%- if hotkeys == 'vim' %} selected="selected"
              {%- endif -%}>
              {{- _('Vim-like') -}}
        </option>{{- '' -}}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _(
    'Navigate search results with hotkeys (JavaScript required). '
    'Press "h" key on main or result page to get help.'
    ) -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
