<fieldset>{{- '' -}}
  <legend>{{ _('Infinite scroll') }}</legend>{{- '' -}}
  <p class="value">{{- '' -}}
    <select name='infinite_scroll'>{{- '' -}}
      <option value="1" {% if infinite_scroll %}selected="selected"{% endif %}>{{ _('On') }}</option>{{- '' -}}
      <option value="0" {% if not infinite_scroll %}selected="selected"{% endif %}>{{ _('Off')}}</option>{{- '' -}}
    </select>{{- '' -}}
  </p>{{- '' -}}
  <div class="description">
    {{- _('Automatically load next page when scrolling to bottom of current page') -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
